a:link {
    color: blue;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
    color: red;
}
a:active {
    color: black;
}

a.two{
    color: blue;
    text-decoration: none;
}
a.two:hover{
    color: red;
    text-decoration-line: underline;