
body {
   margin: 20px 150px;
}

body * {
   margin: 0 auto;
}


.first li {
   list-style-type: lower-alpha;
}


.second li {
   list-style-type: lower-greek;
}


.thirth li {
   list-style-type: upper-alpha;
}
